.home {
    display: block;
    margin: 150px;
    text-align: center;
}

.hh2 {
    display: inline;
    color: #F44336; /* red 500 */
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1.5px;
}

.hp {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}

.hb {
    margin-top: 50px;
    font-size: 2.5rem;
    border: 2px solid;
    border-radius: 25px;
    padding: 12px;
    background-color: #252525;
    color: #fff;
    cursor: pointer;
}

.hb:hover {
    color: #E53935;
}