.DoS_DDoS {
    text-align: right;
}

h1 {
    background-color: #555;
    color: #F44336;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0 0 50px;
    font-size: 4rem;
    padding: 10px;
}

h2 {
    /* background-color: #151515; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #E74856;
    font-size: 2.5rem;
    border-radius: 10px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

p {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1.5px;
    padding: 5px;
    border-radius: 10px;
    width:70%;
    direction: rtl;
    text-align: right;
    margin: 0 auto 30px;
}

button {
    color: #fff;
    background-color: #151515;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover,
button.active-button {
    color: #E74856;
}

.isVisible {
    /* color: #fff; */
    font-size: 2rem;
    letter-spacing: 1.5px;
    padding: 5px;
    border-radius: 10px;
    width: 70%;
    direction: rtl;
    text-align: right;
    margin: 0 auto 30px;
}







